@import url('https://fonts.googleapis.com/css?family=Montserrat');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}

body {
  font-family: Montserrat, Arial, sans-serif;
}

/* Form styling */
#msform {
  width: 90%;
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

#msform fieldset {
  background: white;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  width: 100%;
  position: absolute;
  opacity: 0;
  transform: scale(1.02);
  transition: all 0.4s ease;
  z-index: 0;
}

#msform fieldset.active {
  position: relative;
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}

/* Inputs */
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  font-family: Montserrat;
  font-size: 13px;
  color: #2C3E50;
}

/* Buttons */
#msform .action-button {
  width: 100px;
  background: #27AE60;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
  outline: none;
}

/* Headings */
.fs-title {
  font-size: 16px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/* Progressbar */
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
}

#progressbar li:first-child:after {
  content: none;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #27AE60;
  color: white;
}

/* Footer Styling */
#footer {
  text-align: center;
  padding: 20px 10px;
  color: white;
  font-size: 14px;
  background: transparent;
}
